:root {
  --primary-light: #70d6df;
  --primary-dark: #2c8492;

  --secondary-brown-100: #8c6a5e;
  --secondary-brown-200: #593c40;
  --secondary-brown-300: #473438;

  --secondary-green-100: #80c74f;
  --secondary-green-200: #42a94e;
  --secondary-green-300: #4c793e;

  --neutral-white-100: #ffffff;
  --neutral-white-200: #dce9ea;
  --neutral-white-300: #a0a9aa;

  --neutral-grey-100: #8d8a91;
  --neutral-grey-200: #726d7a;
  --neutral-grey-300: #524d5b;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a:where(:active, :link, :visited) {
  text-decoration: none;
}
