@use "../abstracts" as *;

:root {
  @each $k, $v in $colors {
    --#{$k}: #{$v};
  }
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a:where(:active, :link, :visited) {
  text-decoration: none;
}
