@use "../abstracts" as *;

@each $k, $v in $spaces {
  @include margin-flow("block", $k, $v);
  @include margin-flow("block-start", $k, $v);
  @include margin-flow("block-end", $k, $v);
  @include margin-flow("inline", $k, $v);
  @include margin-flow("inline-start", $k, $v);
  @include margin-flow("inline-end", $k, $v);

  @include padding-flow("block", $k, $v);
  @include padding-flow("block-start", $k, $v);
  @include padding-flow("block-end", $k, $v);
  @include padding-flow("inline", $k, $v);
  @include padding-flow("inline-start", $k, $v);
  @include padding-flow("inline-end", $k, $v);
}

@include margin-flow("block", auto, auto);
@include margin-flow("block-start", auto, auto);
@include margin-flow("block-end", auto, auto);
@include margin-flow("inline", auto, auto);
@include margin-flow("inline-start", auto, auto);
@include margin-flow("inline-end", auto, auto);

@each $k, $v in $border-radius-list {
  .border-radius_#{$k} {
    border-radius: $v;
  }
}

.backdrop {
  display: grid;
  place-items: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  width: 100vw;
  height: 100%;
  inset: 0;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  z-index: 1;
}

@keyframes modal-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal-close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.backdrop_show {
  animation-name: modal-show;
}

.backdrop_close {
  animation-name: modal-close;
}
