$spaces: (
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1.25rem,
  5: 1.5rem,
  6: 2.25rem,
  7: 3rem,
  8: 3.75rem
);
$border-radius-list: (
  1: 0.5rem,
  2: 0.75rem,
  3: 1.25rem
);
$font-size-list: (
  notice: 1rem,
  paragraph: 1.5rem,
  h4: 1.75rem,
  h3: 2rem,
  h2: 3rem,
  h1: 3.75rem
);
$font-weight: (
  Normal: 400,
  Medium: 500,
  Light: 300,
  Heavy: 900,
  ExtraLight: 200,
  Bold: 700
);
$colors: (
  primary-100: #70d6df,
  primary-900: #2c8492,
  secondary-brown-100: #8c6a5e,
  secondary-brown-400: #593c40,
  secondary-brown-900: #473438,
  secondary-green-100: #80c74f,
  secondary-green-400: #42a94e,
  secondary-green-900: #4c793e,
  neutral-100: #ffffff,
  neutral-200: #dce9ea,
  neutral-300: #a0a9aa,
  neutral-400: #8d8a91,
  neutral-500: #726d7a,
  neutral-600: #524d5b,
  other-900: #E8433F
);
