@use "../../sass/abstracts" as *;

.product-todo {
  display: grid;

  &__title {
    color: var(--neutral-100);
    font-weight: map-get($map: $font-weight, $key: "Bold");
  }

  &__backdrop {
    display: grid;
    place-items: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    width: 100vw;
    height: 100%;
    inset: 0;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    z-index: 1;
  }

  &__modal {
    display: grid;
    width: min(81.6%, 73.375rem);
    grid-template-columns: min(26%, 18.75rem) 1fr;
    gap: clamp(1.5rem, calc(-0.51rem + 8.59vw), 7rem);

    &-body {
      display: grid;
    }
  }

  &__message {
    line-height: 1.75;
    margin-block-end: min(10vmin, 4rem);
  }

  &__container {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: map-get($map: $spaces, $key: 5);
  }

  &__bg {
    background-image: url("../../assets/bg/product-todo-bg.svg");
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: contain;
    height: 100%;
    grid-area: 1 / 1 / -1 / -1;
  }

  &__dialog {
    width: min(75%, 61.6875rem);
    display: grid;
    grid-template-columns: 6.25rem 1fr;
    gap: 4rem;
    grid-area: 1 / 1 / 2 / -1;

    & .dialog {
      display: grid;
      grid-template-columns: 1fr 7.5rem;
    }
  }

  &__practice {
    display: grid;
    grid-template-columns: 45% 47%;
    justify-content: space-between;
    grid-area: 2 / 1 / -1 / -1;
  }

  &__todo {
    background-color: rgba(
      $color: map-get($map: $colors, $key: "neutral-100"),
      $alpha: 0.75
    );
    box-shadow: 10px 10px map-get($map: $colors, $key: "secondary-brown-900");
    font-weight: 700;
    width: min(100%, 33.125rem);
    user-select: none;
    cursor: url("../../assets/icons/drag-icon.svg"), auto;
    text-align: center;

    &:nth-child(2n) {
      margin-inline-start: auto;
    }

    &s {
      align-self: center;
      padding: 0;
      display: grid;
      gap: 2rem;
    }

    & p + p {
      font-size: map-get($map: $font-size-list, $key: "paragraph");
    }
  }

  &__backlog {
    background-image: url("../../assets/bg/bg-backlog.svg");
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 700;
    display: grid;
    grid-template-rows: auto 1fr;
    text-align: center;

    &-title {
      color: map-get($map: $colors, $key: "neutral-600");

      & span {
        font-size: map-get($map: $font-size-list, $key: "h4");
      }
    }

    &-container {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto 1fr auto;
      padding-inline-end: 1.125rem;
      column-gap: 0.5rem;
      grid-template-areas:
        "title high"
        "answer line"
        "answer low";
    }
  }

  &__answer {
    padding-inline-start: 0;
    grid-area: answer;
    display: flex;
    flex-direction: column;
    gap: map-get($map: $spaces, $key: 4);
    align-items: flex-end;
  }

  &__priority {
    &-title {
      text-align: right;
      grid-area: title;
      color: var(--neutral-100);
      opacity: 0.5;
    }

    &-line {
      background-image: url("../../assets/icons/priority-line.svg");
      background-size: cover;
      grid-area: line;
    }

    &-high {
      grid-area: high;
      color: var(--neutral-100);
      opacity: 0.5;
    }

    &-low {
      grid-area: low;
      color: var(--neutral-100);
      opacity: 0.5;
    }
  }
}

@keyframes modal-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal-close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.backdrop_show {
  animation-name: modal-show;
}

.backdrop_close {
  animation-name: modal-close;
}

.dragging {
  opacity: 0.75;
  border: 3px inset var(--secondary-brown-900);
}
