@use "../../sass/abstracts" as *;

.btn {
  &__choice {
    background-color: rgba($color: var(--neutral-100), $alpha: 0.85);
    display: flex;
    gap: map-get($map: $spaces, $key: 5);
    color: var(--secondary-brown-900);
    &:hover {
      border: 5px solid var(--secondary-brown-900);
      color: var(--secondary-green-100);
      background-color: var(--neutral-100);
    }
  }

  &__step {
    display: flex;
    transform-origin: center;
    transition: scale 0.1s ease;
    color: var(--neutral-100);
    &:hover {
      scale: 1.07;
    }
    &:disabled {
      color: var(--neutral-400);
    }
  }

  &__confirm {
    text-align: center;
    padding-block: 1rem;
    color: var(--secondary-brown-900);

    &_accept {
      background-color: var(--primary-100);
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      &:hover {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)
          ),
          var(--primary-100);
      }
      &:active {
        box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }

    &_confirm {
      background-color: var(--secondary-green-100);
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      &:hover {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)
          ),
          var(--secondary-green-100);
      }
      &:active {
        box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
}
