@use "../../sass/abstracts" as *;

.introduction {
  text-align: center;
  color: var(--neutral-100);
  background-image: url("../../assets/bg/introduction-bg.svg");
  background-size: cover;

  &__list {
    display: grid;
    gap: 4.125rem;
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    background-color: rgba(
      $color: map-get($map: $colors, $key: "primary-900"),
      $alpha: 0.5
    );
    display: grid;
    gap: map-get($map: $spaces, $key: 7);
  }
}

.character {
  &__icon {
    max-height: 19.6875rem;
  }
}
