@use "../../sass/abstracts" as *;

.introductions {
  padding: 0;
  display: flex;
  gap: 4.125rem;
  text-align: center;
  color: var(--neutral-100);
  &__title {
    color: var(--neutral-100);
  }
  &__item {
    background-color: rgba(
      $color: map-get($map: $colors, $key: "primary-900"),
      $alpha: 0.5
    );
    display: grid;
    gap: map-get($map: $spaces, $key: 7);
  }
}

.character {
  &__icon {
    height: 19.6875rem;
  }
}
