@use "../../sass/abstracts" as *;

.welcome {
  background-image: url("../../assets/bg/bg-welcome.svg");
  min-height: 250vh;
  position: relative;

  &__bg {
    &-1 {
      position: relative;
      z-index: 1;
    }
    &-2 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
    &-3 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
  }

  &__cta {
    position: absolute;
    right: min(10vw, 8.4375rem);
    top: 75vh;
    z-index: 2;
    translate: 0 -50%;
  }
}
