@use "../../sass/abstracts" as *;

.welcome {
  position: relative;
  min-height: 100vh;
  background-image: url("../../assets/bg/bg-far.svg"),
    url("../../assets/bg/bg-middle.svg");

  &__bg_front {
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  &__button {
    position: absolute;
    right: min(10vw, 8.4375rem);
    top: 75vh;
    z-index: 1;
    translate: 0 -50%;
    color: var(--neutral-100);
    text-align: center;
    opacity: 0.75;
    &:hover {
      opacity: 1;
    }

    & svg {
      width: min(60%, 9rem);
    }
  }

  &__description {
    min-height: 100vh;
    background-image: url("../../assets/bg/bg-welcome.svg");
    background-repeat: no-repeat;
    background-position: 0 100%;
    position: relative;
  }

  &__info {
    width: min(76%, 68.75rem);
    min-height: max(65vh, 41.625rem);
    position: absolute;
    bottom: min(4.25rem, 5vw);
    right: min(3.75rem, 4.5vw);
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
  }

  &__mascot {
    align-self: flex-end;
  }

  &__dialog {
    align-self: start;
    line-height: 1.75;
    display: grid;
    gap: map-get($map: $spaces, $key: 3);
    grid-template-columns: 1fr 1.875rem;
    position: relative;
    z-index: 1;

    & .h3 {
      grid-column: 1 / -1;
    }
  }
}
