@use "../abstracts" as *;

.main {
  min-height: 100vh;
  background-color: var(--primary-100);
  overflow-x: hidden;
  overflow-x: scroll;
  display: flex;
  &__container {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  &__inner-page {
    flex: 0 0 100%;
  }
}

