@use "../abstracts" as *;

.main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  background-color: var(--primary-100);
  position: relative;
  &__container {
    overflow-x: hidden;
    display: flex;
    gap: map-get($map: $spaces, $key: 8);
  }
  &__inner-page {
    flex: 0 0 100%;
  }
}

.footer {
  width: calc(100% - 2 * map-get($map: $spaces, $key: 8));
}
