@use "../abstracts" as *;

.main {
  min-height: 100vh;
  background-color: var(--primary-100);
  overflow-x: scroll;
  overflow-x: hidden;
  display: flex;
  position: relative;
  &__container {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  &__inner {
    flex: 0 0 100%;
  }
}

.scrum {
  position: relative;

  &__container {
    display: flex;
    overflow-x: scroll;
    overflow-x: hidden;
  }

  &__inner {
    flex: 0 0 100%;
  }
}
